@font-face {
  font-family: 'BoldPixels'; 
  
  src: url('/font/BoldPixels.ttf') format('truetype'); 
  
  font-weight: normal; 
  font-style: normal;
  font-display: swap; 
}

@keyframes slideDown {
    from {
        transform: translateY(-10%); 
        opacity: 0.2;
    }

    to {
        transform: translateY(0); 
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0); 
        opacity: 1;
    }

    to {
        transform: translateY(-10); 
        opacity: 0;
    }
}  

.green_btn {
    display: inline-block;
    margin: 5px;
    border-radius: 6px;
    font-family: Verdana;
    font-size: 18px;
    color: white;
    background-color: #238636;
    border: none;
}

.green_btn:hover {
    background-color: #2b9941;
}

body {
    margin: 0;
}

canvas {
    display: block;
}

#particles-js {
    background-color: rgb(37, 37, 37);
}

a {
    font-family: 'BoldPixels', Arial;
    color: white;
    text-decoration: none;
}

.header_text:hover {
    font-size: 55px;
}

#header {
    background-color: rgb(31, 31, 31);
    height: 50px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#header_cont {
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%); 
    display: flex; 
    gap: 20px;
}

.logo {
    padding-left: 10px;
}

#menu_btn {
    display: none;
}
#mub_btn_header {
    display: none;
}

@media (max-width: 768px) {
    
    #menu_btn {
        display: block;
        position: absolute;
        right: 10px;
    }
    
    #header_cont {
        display: none;
    }

    #mub_btn_header.none {
        display: none;
    }
    
    #mub_btn_header.visible {
        margin-top: 50px;
        display: flex;
        background-color: #1f1f1f;
        position: absolute;
        top: 0;
        right: 0;
        border-bottom-left-radius: 6px;
        flex-direction: column;
        font-size: 50px;
        padding: 7;
        animation-name: slideDown;
        animation-duration: 1s;
    }

    #mub_btn_header.visible.no {
        animation-name: slideUp;
    }
}