@font-face {
  font-family: 'BoldPixels'; 
  
  src: url('/font/BoldPixels.ttf') format('truetype'); 
  
  font-weight: normal; 
  font-style: normal;
  font-display: swap; 
}

.green_button {
    display: inline-block;
    margin: 5px;
    border-radius: 6px;
    font-family: Verdana;
    font-size: 18px;
    color: white;
    background-color: #238636;
    border: none;
}

.green_button:hover {
    background-color: #2b9941;
}


body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(37, 37, 37);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

#header {
    align-items: center;
    background-color: rgb(31, 31, 31);
    height: 50px;
}

.logo {
    font-family: 'BoldPixels', Arial;
    font-size: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}