.green_button {
        display: inline-block;
        margin: 5px;
        border-radius: 6px;
        font-family: Verdana;
        font-size: 18px;
        color: white;
        background-color: #238636;
        border: none;
    }

.green_button:hover {
    background-color: #2b9941;
}