@font-face {
  font-family: 'BoldPixels'; 
  
  src: url('/font/BoldPixels.ttf') format('truetype'); 
  
  font-weight: normal; 
  font-style: normal;
  font-display: swap; 
}

.green_button {
    display: inline-block;
    margin: 5px;
    border-radius: 6px;
    font-family: Verdana;
    font-size: 18px;
    color: white;
    background-color: #238636;
    border: none;
}

.green_button:hover {
    background-color: #2b9941;
}

body {
    margin: 0;
}

canvas {
    display: block;
}

#particles-js {
    background-color: rgb(37, 37, 37);
}

a {
    color: white;
    text-decoration: none;
}

#header {
    background-color: rgb(31, 31, 31);
    height: 50px;
    font-family: 'BoldPixels', Arial;
    font-size: 50px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-start;
}

.header_cont {
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%); 
    display: flex; 
    gap: 20px;
}