@font-face {
  font-family: 'BoldPixels'; 
  
  src: url('/font/BoldPixels.ttf') format('truetype'); 
  
  font-weight: normal; 
  font-style: normal;
  font-display: swap; 
}

.green_btn {
    display: inline-block;
    margin: 5px;
    border-radius: 6px;
    font-family: Verdana;
    font-size: 18px;
    color: white;
    background-color: #238636;
    border: none;
}

.green_btn:hover {
    background-color: #2b9941;
}

body {
    margin: 0;
}

canvas {
    display: block;
}

#particles-js {
    background-color: rgb(37, 37, 37);
}

a {
    color: white;
    text-decoration: none;
}

.header_text:hover {
    font-size: 55px;
}

#header {
    /* Зберігаємо ваші стилі */
    background-color: rgb(31, 31, 31);
    height: 50px;
    font-family: 'BoldPixels', Arial;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;         
    left: 0;        
    width: 100%;    
    z-index: 1000;  
}

.header_cont {
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%); 
    display: flex; 
    gap: 20px;
}

.logo {
    padding-left: 10px;
}